/* src/components/client/common/DesignTester.css */

.header-container {
  padding: var(--header-container-padding);
  background-color: var(--header-container-bg-color);
  box-shadow: var(--header-container-shadow);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg-color);
  padding: var(--header-padding);
  box-shadow: var(--header-shadow);
  border-radius: var(--header-border-radius);
}

.logo-container {
  padding: 5px;
  display: flex;
  flex-direction: column; /* Stack logo and tagline */
  align-items: flex-start; /* Align items to start */
  position: relative; /* Position for 'THE' */
  border-radius: 25px;
  row-gap: 0px;
}

.top-text {
  font-size: 10px;
  color: rgb(141, 141, 148);
  position: absolute;
  top: 20px;
  right: 5px;
  letter-spacing: 3px;
  font-weight: bold;
}

.logo {
  width: 200px;
  margin: 0;
}

.tagline {
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 300;
  color: var(--secondary-color);
  align-self: center;
  margin-left: 10px;
  position: relative;
  top: -5px;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  background-color: var(--primary-color);
  padding: 10px 25px;
  border-radius: 5px;
}

.nav-links {
  list-style: none; /* Remove default list styles */
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 15px;
  row-gap: 0px;
}

.nav-links li a {
  display: flex;
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
}
.nav-links a {
  color: white; /* White text for links */
  text-decoration: none;
  padding: 8px 12px; /* Increased padding for better touch target */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  font-weight: 500; /* Medium font weight */
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light color on hover */
  color: white; /* Keep text color white on hover */
}

.nav-links a.active-link {
  color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  /* transform: translateY(-1px); */
}

/* Specific styles for the first NavLink (the icon) */
.nav-links li:first-child a {
  width: 40px; /* Set width to create a circular effect */
  height: 40px; /* Set height to create a circular effect */
  border-radius: 50%; /* Make it circular */
}

.nav-links li:first-child a:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Change background color on hover */
}
