/* src/components/client/common/Header/Header.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px; /* Increase logo width */
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
  /* box-shadow: var(--shadow-primary); */
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #c51d1d;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.1rem; /* Make the text size slightly larger */
  padding: 10px 20px;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: var(--shadow-primary);
  border-radius: 25px;
  font-weight: bold;
}

.nav a:hover {
  color: hsl(12.63deg, 61.29%, 45%);
  background-color: rgba(0, 0, 0, 0.05); /* Add a subtle hover background */
  border-radius: 5px;
}
