/* src/components/client/common/DesignTester.css */

.header-container {
  padding: var(--header-container-padding);
  background-color: var(--header-container-bg-color);
  /* box-shadow: var(--header-container-shadow); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg-color);
  padding: var(--header-padding);
  box-shadow: var(--header-shadow);
  border-radius: var(--header-border-radius);
  background-image: linear-gradient(
    to right,
    white 25%,
    rgba(var(--primary-color-rgb), 1) 75%
  );
}

.logo-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 25px;
  row-gap: 0px;
}

.top-text {
  font-size: 10px;
  color: rgb(141, 141, 148);
  position: absolute;
  top: 15px;
  right: 5px;
  letter-spacing: 3px;
  font-weight: bold;
}

.logo {
  width: 150px;
  margin: 0;
}

.tagline {
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 300;
  color: var(--secondary-color);
  align-self: center;
  margin-left: 10px;
  position: relative;
  top: -5px;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  padding: 15px 30px;
  border-radius: 10px;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0px 25px;
}

.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-links-bg-color);
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-links-bg-color);
  color: var(--nav-links-color);
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
  box-shadow: var(--nav-links-shadow);
  border-radius: var(--nav-links-br);
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--nav-links-color-hover);
  transform: scale(1.1);
  border: solid thin var(--nav-links-color-border-hover);
}

.nav-links a.active-link {
  color: var(--nav-links-color-active);
  /* box-shadow: var(--nav-links-shadow-active); */
  /* border-top: solid thin var(--nav-links-color-border); */
  transform: scale(1.03);
  letter-spacing: 2px;
}

.nav-links li:first-child a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
}

/* Hide menu toggle button by default */
.menu-toggle {
  display: none;
}

/* ----------------------------------------------------------max-width 768px */
/* Responsive styling for max-width 768px */
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    max-height: 100px;
  }

  .logo {
    width: 125px;
  }

  .top-text {
    font-size: 10px;
    color: rgb(141, 141, 148);
    position: absolute;
    top: 13px;
    right: calc(50% + -75px);
    letter-spacing: 3px;
    font-weight: bold;
  }

  .navbar {
    display: flex;
    padding: 5px 20px;
    border-radius: 10px;
    justify-content: flex-end;
    border-radius: 35px;
    background-color: var(--primary-color);
    width: 80%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  }

  .nav-links {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

/* ----------------------------------------------------------max-width 575px */
/* Responsive styling for max-width 575px */
@media (max-width: 575px) {
  .header-container {
    padding: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 0;
    gap: 10px;
    background-color: var(--header-bg-color-small);
    background-image: none;
    position: relative;
    z-index: 1001;
    max-height: 130px;
    border-radius: 0;
  }

  .logo-container {
    align-items: center;
    background-color: #ffffff;
    z-index: 20001;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  .logo {
    width: 150px;
  }

  .top-text {
    font-size: 10px;
    color: rgb(141, 141, 148);
    position: absolute;
    top: 18px;
    right: calc(50% + -75px);
    letter-spacing: 3px;
    font-weight: bold;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-height: 0; /* Initially collapsed */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Smooth transition */
    position: relative;
    width: 60%;

    z-index: 1000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .navbar.open {
    max-height: 250px; /* Expand to this height */
    padding: 10px 0; /* Add padding when open */
    overflow: visible;
    background-color: var(--nav-bg-color-mobile);
    top: 0px;
    width: 70%;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    opacity: 1; /* Keep links visible */
    transition: opacity 1s ease; /* Fade in links */
    position: relative;
    top: -30px;
  }

  .nav-links li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-links a {
    padding: 12px 20px;
    width: 90%; /* Make links wider */
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: var(--nav-links-bg-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .nav-links a:hover {
    background-color: var(--nav-links-bg-color-hover);
    color: white;
  }

  .nav-links a.active-link {
    background-color: var(--nav-links-bg-color-hover);
    box-shadow: 2px -4px 5px rgba(0, 171, 236, 0.4),
      2px 4px 5px rgba(0, 171, 236, 0.4);
    border-top: thin solid;
  }

  .nav-links a.active-link.home {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  }
  .nav-links li:first-child a {
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    box-shadow: 0 4px 9px #0000007a;
  }

  /* Menu toggle button */
  .menu-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); */
    transition: transform 0.3s ease;
    /* margin-top: 10px; */
    position: relative;
    top: -10px;
    z-index: 20002;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
    border: none;
  }

  .navbar.open + .menu-toggle {
    top: -30px;
  }

  .menu-toggle:hover {
    transform: scale(1.01);
  }
}
