:root {
  /* header */
  --header-container-padding: 10px;
  --header-container-bg-color: transparent;
  --header-container-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --header-padding: 10px;
  --header-bg-color: #fff;
  --header-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --header-border-radius: 10px;
}
.header-conatainer {
  /* padding: 20px; */
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure it takes at least full viewport height */
  background-color: #f8f9fa; /* Light background color */
  padding: 0;
}

.page-container section:first-child {
  padding: 10px;
}
